* {
	font-family: "Golos Text", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}
body {
	height: 100vh;
	background: #212121;
}
.logo {
	position: absolute;
	top: 0.5rem;
	left: 1rem;
}
.nav_links {
	width: 100%;
	background: #212121;
	text-align: center;
	position: absolute;
	top: -19rem;
}
ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
li {
	list-style: none;
	margin: 1rem 0;
}
li a {
	color: #fff;
	font-size: 2rem;
}
#nav {
	color: #fff;
}
.nav_links.animationFromTop {
	top: 0;
	transition: 1s;
	height: 100%;
}
.removeAnimation {
	top: -100%;
	transition: 1s;
	height: 0;
}
a {
	text-decoration: none;
	color: #000;
}
.menu {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	color: #fff;
}
.close {
	display: none;
}
.open {
	position: absolute;
	display: block;
	right: 1rem;
	top: 0.5rem;
}
nav img {
	width: 40%;
}
.icons_index {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding-bottom: 2rem;
}
.icons {
	cursor: pointer;
	font-size: 1.5rem;
	color: white;
}
.image {
	width: 100%;
	border-radius: 10%;
}
.section-text {
	color: #fff;
	padding: 0 4rem;
}
button {
	background-color: #f4f4f4;
	padding: 10px;
	margin: 20px;
	border-radius: 10px;
	border: 0;
	box-shadow: 0px 1px 3px rgba(166, 175, 195, 0.25);
	cursor: pointer;
	font-weight: 500;
	color: #000;
}
button:hover {
	background-color: #000;
	color: #fff;
}
.mb {
	font-size: 1.5rem;
	margin-bottom: 30px;
}
h1 {
	padding: 4rem;
	font-size: 2rem;
	color: #fff;
}
.text_index {
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 2rem 0;
}

h2 {
	left: 50%;
	top: 10%;
	font-size: 2.7rem;
}

.footer_text {
	color: #938f8f;
	position: absolute;
	bottom: 0;
	left: 35%;
	font-size: 0.7rem;
}

.back_index {
	color: #00fe01;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

.green_link {
	color: #00fe01;
}

.lobs {
	width: 100%;
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	h2 {
		font-size: 5rem;
	}
	.section-text {
		display: flex;
		flex-direction: column;
		margin: auto 0;
		padding: 60px;
	}
	.section-text p {
		font-size: 3rem;
	}
	.green_link {
		font-size: 3rem;
	}
	.green_link:hover {
		color: #ff03f2;
	}
	.icons_index {
		padding: 4rem;
	}
	.icons {
		font-size: 2rem;
	}
	.icons:hover {
		color: #00fe01;
	}
	.text_index {
		position: absolute;
		width: 40%;
		top: 40%;
		left: 40%;
	}
	.text_index p {
		font-size: 2rem;
	}
	.image {
		width: 30%;
	}
	.footer_text {
		font-size: 1.5rem;
		left: 48%;
	}
	.nav_links {
		text-align: center;
	}
	.nav_links a:hover {
		color: #00fe01;
	}
	.lobs {
		display: flex;
		justify-content: center;
		width: 40%;
		margin: 0 auto;
	}
	.back_index {
		font-size: 2rem;
	}

	.back_index:hover {
		color: #ff03f2;
	}
}
